:root {
  --background-navy: #011736;
  --text-white: #f0e6dc;
  --glass-background1: rgba(255, 255, 255, 0.05);
  --glass-background2: rgba(255, 255, 255, 0.13);
  --glass-background3: rgba(255, 255, 255, 0.1);
  --glass-gradient: rgba(255, 255, 255, 0.09);
  --glass-border1: rgba(255, 255, 255, 0.06);
  --glass-border2: rgba(255, 255, 255, 0.17);
  --glass-radius1: 7px;
  --glass-radius2: 10px;
  --glass-placeholder: rgba(255, 255, 255, 0.31);
  --glass-button1: rgba(15, 78, 100, 0.75);
  --glass-button2: rgba(15, 78, 100, 0.85);
  --glass-button3: rgba(15, 78, 100, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 150dvh;

  background-color: var(--background-navy);

  display: grid;
  grid-template-rows: 100px 1fr;

  color: var(--text-white);
}

header {
  align-content: center;
  padding-left: 1.5rem;

  background-color: var(--background-navy);

  color: var(--text-white);
  font-size: 1.3rem;
}

main {
  display: grid;
  grid-template-rows: 100px 500px 1fr;
  grid-template-columns: 1200px;
  justify-content: center;
  row-gap: 2rem;
}

form.location {
  background-color: var(--glass-background1);
  background-image: radial-gradient(
    farthest-side at 80% 50%,
    var(--glass-gradient),
    transparent
  );
  backdrop-filter: blur(10px) saturate(110%);

  padding: 0 1.5rem;

  border-radius: var(--glass-radius1);
  border: 1px solid var(--glass-border1);
}

.location label {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.location input,
.location button {
  height: 57px;
}

.location input {
  width: 700px;
  border-radius: var(--glass-radius2);
  padding: 0 10px;

  background-color: var(--glass-background2);
  backdrop-filter: blur(10px);

  border: 1px solid var(--glass-border2);

  font-size: 1.8rem;
  color: var(--text-white);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--glass-placeholder);
}

.location button {
  padding: 0 10px;

  background-color: var(--glass-button1);

  border: 1px solid var(--glass-border1);
  border-radius: 10px;

  font-size: 1rem;
  font-weight: 900;
  color: var(--text-white);
}

button:hover {
  cursor: pointer;
  background-color: var(--glass-button2);
}

button:active {
  background-color: var(--glass-button3);
}

.table-container {
  padding: 10px 30px;

  background-color: var(--glass-background1);
  background-image: radial-gradient(
    farthest-side at 80% 70%,
    var(--glass-gradient),
    transparent
  );
  backdrop-filter: blur(10px) saturate(130%);

  border: 1px solid var(--glass-border1);
  border-radius: var(--glass-radius1);

  display: grid;
}

.daily table {
  table-layout: fixed;
  background-color: var(--glass-background2);

  border: 1px solid var(--glass-border2);
  border-radius: var(--glass-radius2);
  border-spacing: 0;
}

.daily thead {
  height: 40px;
}

.daily th[scope="row"] {
  width: 200px;
}

.daily td {
  text-align: center;
}

/* icon row */
.daily tbody tr:first-child {
  height: 150px;
}

.daily th.highlighted,
.daily td.highlighted {
  background-color: var(--glass-background3);
}

/* top-right cell adaptaion */
.daily th.highlighted:last-child {
  border-radius: 0 var(--glass-radius2) 0 0;
}

/* bottom-right cell adaptaion */
.daily tbody tr:last-child td.highlighted:last-child {
  border-radius: 0 0 var(--glass-radius2) 0;
}

.hourly caption {
  text-align: left;
}

.table-container.hourly {
  max-width: 100%;
  overflow-x: scroll;
  /* overflow-y: hidden; */
}

.hourly table {
  min-width: 100%;
}
