:root {
  --background-navy: #011736;
  --text-white: #f0e6dc;
  --glass-background1: rgba(255, 255, 255, 0.05);
  --glass-background2: rgba(255, 255, 255, 0.13);
  --glass-column-highlight: rgba(255, 255, 255, 0.1);
  --glass-gradient: rgba(255, 255, 255, 0.09);
  --glass-border1: rgba(255, 255, 255, 0.06);
  --glass-border2: rgba(255, 255, 255, 0.17);
  --glass-radius1: 7px;
  --glass-radius2: 10px;
  --glass-placeholder: rgba(255, 255, 255, 0.31);
  --glass-button1: rgba(15, 78, 100, 0.75);
  --glass-button2: rgba(15, 78, 100, 0.85);
  --glass-button3: rgba(15, 78, 100, 1);
  --glass-scroll-track: transparent;
  --glass-scroll-thumb: rgba(255, 255, 255, 0.25);
  --glass-daily-row-header: #2c4061;
  --glass-hourly-row-header: #0d244a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  /* max-width: 70px; */
}

body {
  height: 100dvh;

  background-color: var(--background-navy);

  display: grid;
  grid-template-rows: 70px 1fr 30px;

  color: var(--text-white);
}

.loading {
  font-size: 2rem;
  place-self: center;
}

header {
  align-content: center;
  padding-left: 1.5rem;

  background-color: var(--background-navy);

  color: var(--text-white);
  font-size: 1.2rem;
}

main {
  display: grid;
  grid-template-rows: 50px 350px 420px;
  grid-template-columns: 1200px;
  justify-content: center;
  row-gap: 1rem;
}

form.location {
  background-color: var(--glass-background1);
  background-image: radial-gradient(
    farthest-side at 80% 50%,
    var(--glass-gradient),
    transparent
  );
  backdrop-filter: blur(10px) saturate(110%);

  padding: 0 1.5rem;

  border-radius: var(--glass-radius1);
  border: 1px solid var(--glass-border1);
}

.location label {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
}

.location input,
.location button {
  height: 35px;
}

.location input {
  width: 700px;
  border-radius: var(--glass-radius2);
  padding: 0 10px;

  background-color: var(--glass-background2);
  backdrop-filter: blur(10px);

  border: 1px solid var(--glass-border2);

  font-size: 100%;
  color: var(--text-white);
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--glass-placeholder);
}

.location button {
  padding: 0 10px;

  background-color: var(--glass-button1);

  border: 1px solid var(--glass-border1);
  border-radius: 10px;

  font-size: 1rem;
  font-weight: 900;
  color: var(--text-white);
}

button:hover {
  cursor: pointer;
  background-color: var(--glass-button2);
}

button:active {
  background-color: var(--glass-button3);
}

.table-container {
  background-color: var(--glass-background1);
  background-image: radial-gradient(
    farthest-side at 80% 70%,
    var(--glass-gradient),
    transparent
  );
  backdrop-filter: blur(10px) saturate(130%);

  border: 1px solid var(--glass-border1);
  border-radius: var(--glass-radius1);

  max-width: 100%;

  overflow-x: scroll;
  scrollbar-color: var(--glass-scroll-thumb) var(--glass-scroll-track);
}

.table-container.daily {
  padding: 10px 0 0 0;
}

.daily table {
  width: 100%;
  height: 86%;

  table-layout: fixed;
  background-color: var(--glass-background2);

  border-top: 1px solid var(--glass-border2);
  border-bottom: 1px solid var(--glass-border2);
  border-spacing: 0;
}

.daily caption {
  position: sticky;
  left: 0;
  height: 40px;
  max-width: 80%;
  text-align: left;
}

.daily thead {
  height: 40px;
}

.daily th[scope="row"] {
  position: sticky;
  left: 0;
  width: 110px;
  background-color: var(--glass-daily-row-header);
}

.daily th {
  width: 90px;
}

.daily td {
  text-align: center;
}

/* daily icon row */
.daily tbody tr:first-child {
  height: 100px;
}

.daily .highlighted {
  background-color: var(--glass-column-highlight);
}

.daily .pinned {
  background-color: var(--glass-column-highlight);
}

.hourly caption {
  padding: 5px 0;
  width: 400px;
  height: 30px;

  position: sticky;
  left: 0;

  text-align: left;
}

.hourly table {
  table-layout: fixed;
  border-collapse: collapse;
}

.hourly thead {
  height: 30px;
}

.hourly td {
  text-align: center;
}

.hourly th[scope="row"] {
  position: sticky;
  left: 0;
  min-width: 110px;
  z-index: 2;

  background-color: var(--glass-hourly-row-header);
}

/* hourly icon row */
.hourly tbody tr:first-child {
  height: 100px;
}

.hourly tbody tr {
  height: 40px;
}

.wind-arrow {
  max-width: 35px;
  transform: rotate(var(--deg, 0deg));
  transform-origin: 50% 60%;
}

.hourly .highlighted {
  background-color: var(--glass-column-highlight);
}

footer {
  display: grid;
  place-content: center;
  grid-auto-flow: column;

  color: var(--text-white);
  opacity: 0.6;
}

footer a {
  color: inherit;
}
